scripts
test
node_modules
build
artifacts
cache
.openzeppelin
secrets**
.env**
.ganacheDB
.snapshot**

artifacts/*
!artifacts/contracts
artifacts/contracts/*
!artifacts/contracts/interfaces
!artifacts/contracts/RangeOrderPositionManager.sol
